{% extends "base.html" %}

{% block content %}

    <div class="pure-g-r content-ribbon">
        <div class="pure-u-1">
            <h2>Informe seus dados para cadastro</h2>
            <form class="pure-form pure-form-stacked" method="post">
                {% csrf_token %}
                <fieldset>
                    {{ form.non_field_errors }}

                    {% for field in form %}
                    <div class="pure-control-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {{ field.errors }}
                    </div>
                    {% endfor %}
                    <br>
                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">Cadastrar</button>
                    </div>
                </fieldset>
                <p>
                    Já é cadastrado? <a href="{% url 'accounts:login' %}" title="Login">Login</a> <br />
                </p>
            </form>
        </div>
    </div>

{% endblock %}